In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn import metrics
from sklearn import linear_model
from sklearn import model_selection

In [3]:
iris=datasets.load_iris()

In [4]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [5]:
iris.target.shape

(150,)

In [6]:
df= pd.DataFrame(iris.data, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [7]:
df['Label']=iris.target
df.head(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
5,5.4,3.9,1.7,0.4,0
6,4.6,3.4,1.4,0.3,0
7,5.0,3.4,1.5,0.2,0
8,4.4,2.9,1.4,0.2,0
9,4.9,3.1,1.5,0.1,0

In [8]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Label
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [9]:
temp=df.iloc[50:110]

In [10]:
temp.shape

(60, 5)

In [11]:
temp.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Label
50,7.0,3.2,4.7,1.4,1
51,6.4,3.2,4.5,1.5,1
52,6.9,3.1,4.9,1.5,1
53,5.5,2.3,4.0,1.3,1
54,6.5,2.8,4.6,1.5,1

In [12]:
temp.Label.value_counts()

1    50
2    10
Name: Label, dtype: int64

In [24]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(temp, df.Label, test_size=0.2)

In [25]:
X_train.shape, X_test.shape

((120, 2), (30, 2))

In [26]:
model=linear_model.LogisticRegression()

In [27]:
model.fit(X_train, y_train)

LogisticRegression()

In [28]:
y_pred=model.predict(X_test)

In [29]:
metrics.confusion_matrix(y_train, model.predict(X_train))

array([[40,  0,  0],
       [ 0, 35,  3],
       [ 0,  2, 40]], dtype=int64)

In [30]:
metrics.confusion_matrix(y_test, y_pred)

array([[10,  0,  0],
       [ 0, 11,  1],
       [ 0,  1,  7]], dtype=int64)

In [31]:
print(metrics.classification_report(y_train, model.predict(X_train)))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        40
           1       0.95      0.92      0.93        38
           2       0.93      0.95      0.94        42

    accuracy                           0.96       120
   macro avg       0.96      0.96      0.96       120
weighted avg       0.96      0.96      0.96       120

In [32]:
print(metrics.classification_report(y_test, model.predict(X_test)))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       0.92      0.92      0.92        12
           2       0.88      0.88      0.88         8

    accuracy                           0.93        30
   macro avg       0.93      0.93      0.93        30
weighted avg       0.93      0.93      0.93        30

In [33]:
temp=df.iloc[::,1:3]

In [35]:
print(metrics.classification_report(y_test,model.predict(X_test)))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       0.92      0.92      0.92        12
           2       0.88      0.88      0.88         8

    accuracy                           0.93        30
   macro avg       0.93      0.93      0.93        30
weighted avg       0.93      0.93      0.93        30

In [44]:
from sklearn.decomposition import PCA

In [47]:
pca = PCA(n_components=2)
pca.fit(temp)
print(pca.explained_variance_ratio_)
print(pca.singular_values_)

[0.95363267 0.04636733]
[21.67464617  4.77933537]